target/
!target/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.idea/
.vscode/
*.iws
*.iml
*.ipr
.settings/
.project
.classpath

.DS_Store
Thumbs.db

*.log
logs/

Dockerfile
docker-compose.yml
.dockerignore

.git/
.gitignore

README.md
docs/
screenshots/

src/test/

node_modules/
npm-debug.log*